
<style>

</style>


<crx-block-tool
  [size]="{ width: 1600, height: 1000 }"
  [layoutData]="{
    '1715592801616': {
      component: 'crx-block-component2',
      position: {
        top: 300,
        left: 800
      },
      size: {
        width: 200,
        height: 200
      },
      layer: 10
    },
    '1715417993608': {
      component: 'crx-block-component1',
      position: {
        top: 455,
        left: 991
      },
      size: {
        width: 290,
        height: 300
      },
      layer: 20,
      props: {
        a: 'r2r23'
      }
    }
  }"
></crx-block-tool>
